* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "FuenteDraftosaurios";
  src: url("/fonts/CroteauRegular.ttf") format("truetype");
}

body {
  background-image: url("/imgs/fondo1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "FuenteDraftosaurios", sans-serif;
  letter-spacing: 2px; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #000;
}

h1 {
  font-size: 2.8em;
  text-align: center;
  margin: 40px 0 20px;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid #00000043;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 40px;
  text-align: center;
  color: #2c3e50;
  letter-spacing: 2px;
}

.container-botones {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  max-width: 500px;
  width: 100%;
}


button {
  width: 100%;
  max-width: 400px;
  padding: 16px 24px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "FuenteDraftosaurios", sans-serif;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.07);
  color: #000;
  border: 2px solid #0000007e;
  border-radius: 14px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
  
}

button:hover {
  background-color: rgba(187, 187, 187, 0.28);
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.decor {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.7;
}

.decor.izquierda {
  top: 20%;
  left: 5%;
  background-image: url("../img/pngegg.png");
  transform: scale(-1.2, 1.2);
}

.decor.derecha {
  top: 30%;
  right: 5%;
  background-image: url("../img/pngegg.png");
  transform: scale(1.2, 1.2);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2em;
    padding: 12px 20px;
  }
  
  h2 {
    font-size: 1.5em;
    letter-spacing: 2px;
  }
  
  button {
    font-size: 1.3em;
    padding: 14px 20px;
    letter-spacing: 2px;
  }
  
  .decor {
    width: 60px;
    height: 60px;
  }
  
  .decor.izquierda {
    top: 15%;
    left: 2%;
    transform: scale(-1, 1);
  }
  
  .decor.derecha {
    top: 25%;
    right: 2%;
    transform: scale(1, 1);
  }
}