@font-face {
  font-family: "FuenteDraftosaurios";
  src: url("../fonts/CroteauRegular.ttf") format("truetype");
}
* {
  margin: 0;
  font-family: "FuenteDraftosaurios", "sans-serif";
  font-size: large;
  box-sizing: border-box;
}

body {
  background-image: url("../img/fondo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1.3px;
  
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0000002b;
  border-bottom: 2px solid #0000001d;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

/* Contenido principal debajo de la navbar */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px; /* deja espacio para la navbar */
  padding-bottom: 70px; /* deja espacio para el botón de abajo */
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 10px 25px;
  border: 1px solid #00000043;
  border-radius: 6px;
  box-shadow: #000000 -2px 1px 6px;
  font-size: 1.5em;
  margin-top: 15px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  background-image: url("../img/rockForm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 175% 129%;
  object-fit: contain;
  width: 500px;
  height: 65vh;
  

   /* en lugar de fijo */
  width: 80%;
  max-width: 500px;
  height: auto;
  min-height: 70vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

label {
  color: #f2bc4e;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  font-size: 1.1rem;
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #050505;
  border-radius: 5px;
  background-color: #05050500;
}

button {
  color: #f2bc4e;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  width: 50%;
}

button:hover {
  color: #507f5c;
}

.error {
  color: rgb(128, 23, 23);
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.up {
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.checkbox_linea {
  display: flex;
  align-items: center;
  gap: 5px;
}
input[type="checkbox"]:checked {
  accent-color: #000;
}
.down {
  width: 80%;
  font-size: large;
}
.up {
  width: auto;
}



.login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  margin-top: 5px;
  font-size: 1.25rem;
  text-decoration: none;
}

.submit {
  display: flex;
  justify-content: center;
  gap: 50px; /* Espacio entre botones */
  margin-top: 10px;
  
}

.button_back{
  position:fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button_back button{

  padding: 0;
  color: #f2bc4e;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
  width: 100px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
  background-image: url("../img/piedra2.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 5px;
  background-color: transparent;
}
.button_back a{
  text-decoration: none;
}

.button_back button:hover{
  background-color: transparent;
  color: #507f5c;
}
.form_container,
.logo img,
.button_back button {
  transition: all 0.3s ease-in-out;
}



/* Tablets */
@media (min-width: 577px) and (max-width: 991px) {
  *{
    font-size:medium;
  }
  .form_container {
    width: 80%;
    padding: 20px;
    max-width: 400px;
    background-size: 165% 120%;
    height: 85vh;
    

  }

  .logo img {
    height: 45px;
  }

  .button_back button {
    width: 80px;
    height: 40px;
    font-size: 12px;
  }

.navbar{
  height:7%;
}

}

/* Móviles */
@media (max-width: 576px) {

  *{
    font-size: small;
  }

  .form_container {
    width: 80%;
    padding: 20px;
    max-width: 350px;
    height:75vh;
  }

  .logo img {
    height: 40px;
  }

  .button_back {
    bottom: 5px;
    left: 5px;
  }

  .button_back button {
    width: 70px;
    height: 35px;
    font-size: 11px;
  }
}
