@font-face {
  font-family: "FuenteDraftosaurios";
  src: url("fonts/CroteauRegular.ttf") format("truetype");
}

body {
  align-items: center;
  background-image: url("resources/basic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "FuenteDraftosaurios", sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.navbar {
  align-items: center;
  background-color: #f4b06e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  font-family: "FuenteDraftosaurios", sans-serif;
  height: 60px;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.logo img {
  height: 80px;
  object-fit: contain;
  width: auto;
}

.userMenu {
  position: relative;
}

.dropdown {
  background-image: url("resources/piedra.webp");
  background-position: center;
  background-size: 170% 120% ;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, o, o, 0.1);
  display: none;
  font-family: "FuenteDraftosaurios", sans-serif;
  font-size: 20px;
  outline: none;
  padding: 5px;
  position: absolute;
  top: 100%;
  right: 0;
  outline: none;
  width: 150px;
}

.userMenu:hover .dropdown {
  display: block;
}

.dropdown p {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #f4b06e;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
  -1px -1px 0 black;
  cursor: pointer;
  margin: 8px 0;
  padding: 10px;
}

.dropdown p:hover {
  color: #507f5c;
}

.mainButtons {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "FuenteDraftosaurios", sans-serif;
  font-size: 40px;
  gap: 20px;
  margin-top: 250px;
}

.btnPrincipalJ, .btnPrincipalA {
  background-image: url("resources/button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 12px;
  border: none;
  color: #f4b06e;
  cursor: pointer;
  font-family: "FuenteDraftosaurios", sans-serif;
  font-size: 40px;
  padding: 15px 30px;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}
.btnPrincipalJ{
  background-size: 180px 300px;
}

.btnPrincipalA{
  background-size: 380px 300px;
}

footer {
  bottom: 20px;
  position: fixed;
  right: 20px;
}

.btnPrincipal,
.userButton,
.helpButton {
  background-image: url("resources/button.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 12px;
  border: none;
  color: #f4b06e;
  font-family: "FuenteDraftosaurios", sans-serif;
  font-size: 40px;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.userButton {
  background-image: url("resources/button.png");
  background-size: 91px 130px;
  background-position: center;
  background-repeat: no-repeat;
  color: #f4b06e;
  cursor: pointer;
  font-family: "FuenteDraftosaurios", sans-serif;
  font-size: 20px;
  padding: 5px 10px;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.helpButton {
  background-image: url("resources/button.png");
  background-size: 91px 130px;
  background-position: center;
  background-repeat: no-repeat;
  color: #f4b06e;
  cursor: pointer;
  font-family: "FuenteDraftosaurios", sans-serif;
  font-size: 15px;
  padding: 8px 15px;
  text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.btnPrincipalA:hover, .btnPrincipalJ:hover, .helpButton:hover, .userButton:hover {
  color: #507f5c;
}

.title {
  border: 2px solid black;
  font-weight: bold;
  padding: 5px 10px;
}
